* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 900;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 700;
}

h3 {
    display: block;
    font-size: 1.2em;
    margin-top: 12px;;
    font-weight: 700;
}

li {
    list-style-type: circle;
    list-style-position: inside;
}

a {
    font-style: italic;
}

div {
   padding-top: 16px;
   padding-bottom: 16px
}

.container {
	width: 1200px;
    margin: 0 auto;
    color:rgb(32, 32, 32);
    font-size: 20px;
    line-height: 27px;
    text-align: left;
}

.table_without_borders {
    width: 100%;
    margin-bottom: 20px;
}

.table_without_borders th {
    font-weight: bold;
}

.box {
    text-align: justify; 
    width: 700px; 
    height: 300px; 
    overflow: auto; 
    margin-left: 0px; 
    padding-top: 8px; 
    padding-left: 24px; 
    padding-bottom: 16px; 
    padding-right: 24px; 
    border: 2px solid blue; 
    box-sizing: border-box;
}

.text_bold {
    font-weight: 900;
}

.text_color {
    color: red;
}

.table_with_borders {
   border: 1px solid black;
}

.table_with_borders td {
    width: 64px;
    height: 64px;
    border: 1px solid black;
}

.rectangle {
    background-color:cornflowerblue
}

.rectangle_vertical {
    background-color: moccasin;
}

.rectangle_horizontal {
    background-color:lightcoral
}


.embeddedness > div > div + div + div {
    color:orangered 
}

.embeddedness > div > div + div {
    color:darkgreen
}






